*{
	margin: 0%;
	padding: 0;

}

body
{
	display:flex;
	flex-direction: column;
	font-family: Calibri, Comic Sans;
	height: 100%;
	width: 100%
}
body>header{
	display: inline-flex;
	flex-direction: column;
	font-weight: bold;
}

main
{
	display: flex;
	padding-left: 15px;
	padding-bottom: 40px;
	margin-bottom: auto;
	flex-grow: 1;
}

footer{
	text-align: center;
	background-color:#2E2A2A;
	margin-top: auto;
	flex: 3;
	text-align: center;
	position:absolute;
	bottom:0;
	width:100%;
}
h1
{
	text-align: center;
	color:white;
	background: linear-gradient(white,orangered,orangered,orangered);
	padding-top: 40px;
	border-bottom: 5px solid orangered;
}
h2
{
	border-bottom: 1px solid #aaa;
}
nav
{
	text-align: left;
	vertical-align: middle;
	padding-bottom: 0px;
	e-spacing: 10px;
	background-color: #2E2A2A;
}
a
{
	text-decoration: none;
	color:orangered;
}
nav a
{
	display: inline-block;
	color: white;
	padding: 9px;


}
a:hover {
	background-color: white;
	color:orangered;
}
li
{

	display: inline-block;
  	vertical-align: middle;
	text-align: left;

}
header>p{
	text-align: right;
	 font-style: italic;
}

ul li.active {
  background-color: white;
	color;
    }


	ul li.active a {
  background-color: white;
	color: black;
    }

aside {
    min-width: 200px;
    padding:20px

}
aside ul {
    list-style-type: none;
}
aside div {
    border:0.1px solid black;
    box-shadow: 1px 1px 1px 1px grey;
}
aside h3{
    background-color:orangered;
    color:white;
    padding-left: 4px;
}
aside li{
    margin-left: 5px;
    padding: 5px;
}
nav img{
	display: none;
}
@media screen and (max-width: 500px) {
    ul.topnav li.right,
    ul.topnav li {
        flex:none;
    }

    h1{
        height:150px;
    }



    footer{
        position:static;
    }

    .hamburger{
        display:inherit;
        text-align:center;
    }

}

/* Pour les natels en orientation horizontale */
@media screen and (max-width: 850px) and (min-width: 500px) {
  footer{
        position:static;
    }
}
